<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" rel="javascript">
      <style type="text/css">
        .muted {
        color: #99999999;
        }
      </style>
      <title>Slackline - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Slack* Group Search</h3>
      </div>
      {% block content %}
        <div class="jumbotron">
          <form>
            <div class="form-group">
              <label for="searchTerm">Search Term</label>
              <input type="text" class="form-control" id="searchTerm" placeholder="Search Term">
            </div>
          </form>
        </div>
        <div class="container">
          <div class="results">
          </div>
        </div>
      {% endblock %}
    </div>
  </body>
  <div id="footer">
    <div class="container">
      {% block footer %}
      &copy; Copyright 2015 by Slackline
      {% endblock %}
    </div>
  </div>
</html>

